# Scraping data

* ## Import relevant packages

In [61]:
#%reset

In [62]:

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from tqdm import tqdm
import numpy as np
from bs4 import BeautifulSoup
from urllib.request import urlopen
import re
import json
import pandas as pd
import csv
import time
import requests
import concurrent.futures
import lxml
from datetime import datetime
from datetime import timedelta
from ast import literal_eval
from selenium.webdriver.common.keys import Keys
import matplotlib.pyplot as plt
import math

pd.set_option('display.max_columns', None) #We want to see all columns of our dataset.

In [86]:
#We make a function that read our saved excel files. And make it a df and remove the row index from when we saved the file. 

def read_saved_excel(Excel_string_name):
    read_df = pd.read_excel(Excel_string_name)    #Get the data from our saved excel
    read_df = pd.DataFrame(read_df) #make it to a dataframe in Python, with the Pandas inbuild function
    read_df.drop('Unnamed: 0', axis=1, inplace=True) #Remove the created row index from when we saved the file
    return read_df

* ## Look at data

In [330]:
data= pd.read_excel("Data u besk_endelig.xlsx")
data.columns

Index(['case_id', 'type', 'energy_law_applies', 'energy_label_classification',
       'presale', 'num_floors', 'num_rooms', 'living_area', 'basement_area',
       'lot_area', 'year_built', 'sold_price', 'registered_price',
       'address_id', 'rental', 'latest_status', 'weighted_area',
       'closed_or_sold_at', 'original_price', 'unit_id', 'usage_code',
       'living_area.1', 'business_area', 'num_rooms.1', 'updated_at',
       'address_id.1', 'num_floors.1', 'year_built.1', 'year_renovated',
       'ownership', 'building_id', 'num_toilets', 'toilet_condition_code',
       'num_bathrooms', 'bathroom_condition_code', 'kitchen_condition_code',
       'floor_id', 'status', 'property_number', 'building_id.1',
       'building_number', 'entry_address_id', 'usage_code.1', 'year_built.2',
       'year_renovated.1', 'outer_wall_code', 'roof_code',
       'additional_outer_wall_mat', 'additional_roof_mat',
       'asbestos_materials', 'total_area', 'living_area_total',
       'business_area_total', 'other_area', 'heating_code', 'kitchen_amount',
       'floors', 'updated_at.1', 'additional_heating_code', 'ownership.1',
       'total_built_area', 'built_in_garage_area', 'built_in_carport_area',
       'built_in_outhouse_area', 'conservatory_area', 'property_number.1',
       'status.1', 'weighted_area.1', 'unit_usage_code_beskrivelse',
       'address_id.2', 'is_apartment', 'unit_living_area',
       'full_floor_living_area', 'roof_living_area', 'roof_other',
       'basement_living_area', 'basement_other', 'garage_outhouse_built_in',
       'garage_outhouse_free', 'carport', 'conservatory', 'annex',
       'weighted_area.2', 'toilet_beskrivelse', 'køkken_beskrivelse',
       'tag_beskrivelse', 'ydervægsmaterialebeskrivelse', 'heating_code.1',
       'heating_code_additional', 'badeværelsebeskrivelse', 'postnradgadr',
       'postnummernavn', 'kommunekode', 'kommune', 'vejnavn', 'husnr', 'dør',
       'etage', 'gstkvhx_kommunekode_vejkode_husnr_x'],
      dtype='object')

'postnradgadr', 'postnummernavn', 'kommune', 'vejnavn', 'husnr', 'dør', 'etage'



test3 = dingeo_page('https://www.dingeo.dk/adresse/2450-København-SV/rektorparken-14/1-tv')

In [331]:
df_data = pd.DataFrame(data)

In [442]:
def add_ID_count(df_input):
    df = df_input
    for i in range(0, len(df)):
        df.loc[i, "ID_Count"] = i

    return df

In [333]:
df_data = add_ID_count(df_data)

* ## Code for MinGeo.dk

Cleaning the data and get links to MinGeo.dk :

In [443]:
def get_links_to_dingeo(df_input):
    
    df = df_input
    df["dingeo_link"] = ""

    for i in range(0, len(df)):

        
        
        vejnavn = df['vejnavn'][i]
        postnummernavn = df['postnummernavn'][i]
        etage = str(df['etage'][i])

        if '-' in vejnavn: #If '-' we need to make it a double '--'
            vejnavn = vejnavn.replace('-', '--')

        if ' ' in vejnavn: #Remove space and replace with '-'
            vejnavn = vejnavn.replace(' ', '-')
        
        if ' ' in postnummernavn: #Remove space and replace with '-'
            postnummernavn = postnummernavn.replace(' ', '-')

        if '.0' in etage: #If '.0', then replace with nothing
            etage = etage.replace('.0', '')

        if '10' in etage: #then nothing
            pass
        elif '20' in etage: #then nothing
            pass
        elif '30' in etage: #then nothing
            pass
        elif '0' in etage: 
            etage = etage.replace('0', 'st')
        else:
            pass

        if '-1' in etage: #replace '-1' with kl, as in 'kælder'
            etage = etage.replace('-1', 'kl')
        
        

        if 'nan' in str(df['etage'][i]): #Then we do not need etage and dør in our link
            url = 'https://www.dingeo.dk/adresse/' + str(df['postnradgadr'][i]) + '-' + str(postnummernavn) + '/' + str(vejnavn) + '-' + str(df['husnr'][i])  
        elif 'nan' in str(df['dør'][i]):
            url = 'https://www.dingeo.dk/adresse/' + str(df['postnradgadr'][i]) + '-' + str(postnummernavn) + '/' + str(vejnavn) + '-' + str(df['husnr'][i]) + '/' + str(etage) 
        else:
            url = 'https://www.dingeo.dk/adresse/' + str(df['postnradgadr'][i]) + '-' + str(postnummernavn) + '/' + str(vejnavn) + '-' + str(df['husnr'][i]) + '/' + str(etage) + '-' + str(df['dør'][i])

        df['dingeo_link'][i] = url

    return df

We define our webpage scrap function

In [335]:
def dingeo_page(df_input, count):

    url = df_input.loc[count, 'dingeo_link']

    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, 'html.parser')

    # Dictionary
    data = {}
    data['dingeo_link'] = url

    try:
        if 'Fejl På Adressen' in str(soup.find_all("div", {"class": 'intro'})[0].find_all("h1")[0].get_text()): 
            data['address_id'] = df_input.loc[count, 'address_id']
            data['Radonrisiko'] = ['Missing']
            data['Støjmåling'] = ['Missing']
            data['Oversvømmelsesrisiko_skybrud'] = ['Missing']
            data['Meter_over_havet'] =['Missing']
            data['Indbrudsrisiko'] =['Missing']
            data['Bevaringsværdi'] = ['Missing']
            data['Største_parti'] =['Missing']
            data['Valgdeltagelse'] = ['Missing']
            data['Afstemningsområde']= ['Missing']
            data['AVM_pris'] = ['Missing']
        
        else:
            data['address_id'] = df_input.loc[count, 'address_id']
            try:
                data['Radonrisiko'] = [soup.find_all("div", {"id": 'radon'})[0].find_all("strong")[0].get_text()]
            except:
                data['Radonrisiko'] = ['Missing']

            try:
                if 'ikke registreret trafikstøj' in soup.find_all("div", {"id": 'trafikstoej'})[0].get_text():
                    data['Støjmåling'] = ['Ingen trafikstøj']
                elif 'mangler desværre at indsamle trafikstøj' in soup.find_all("div", {"id": 'trafikstoej'})[0].get_text():
                    data['Støjmåling'] = ['Missing']
                else:
                    data['Støjmåling'] = [soup.find_all("div", {"id": 'trafikstoej'})[0].find_all("b")[1].get_text()]
            except:
                data['Støjmåling'] = ['Missing']
            
            try:
                data['Oversvømmelsesrisiko_skybrud'] = [soup.find_all("div", {"id": 'skybrud'})[0].find_all("b")[0].get_text()]
            except:
                data['Oversvømmelsesrisiko_skybrud'] = ['Missing']
            
            try:
                data['Meter_over_havet'] = [soup.find_all("div", {"id": 'stormflod'})[0].find_all("b")[0].get_text()]
            except:
                data['Meter_over_havet'] = ['Missing']
            


            
            
            try:

                data['Indbrudsrisiko'] = [soup.find_all("div", {"id": 'lokalomraadet'})[0].find_all("u")[1].get_text()]
            except:
                data['Indbrudsrisiko'] = ['Missing']

            try:
                if 'img loading="lazy" src="/img/fbb/icon-1.gif"' in str(soup.find_all('img', src='/img/fbb/icon-1.gif')):
                    data['Bevaringsværdi'] = [1]
                elif 'img loading="lazy" src="/img/fbb/icon-2.gif"' in str(soup.find_all('img', src='/img/fbb/icon-2.gif')):
                    data['Bevaringsværdi'] = [2]
                elif 'img loading="lazy" src="/img/fbb/icon-3.gif"' in str(soup.find_all('img', src='/img/fbb/icon-3.gif')):
                    data['Bevaringsværdi'] = [3]  
                elif 'img loading="lazy" src="/img/fbb/icon-4.gif"' in str(soup.find_all('img', src='/img/fbb/icon-4.gif')):
                    data['Bevaringsværdi'] = [4]  
                elif 'img loading="lazy" src="/img/fbb/icon-5.gif"' in str(soup.find_all('img', src='/img/fbb/icon-5.gif')):
                    data['Bevaringsværdi'] = [5]
                elif 'img loading="lazy" src="/img/fbb/icon-6.gif"' in str(soup.find_all('img', src='/img/fbb/icon-6.gif')):
                    data['Bevaringsværdi'] = [6]
                elif 'img loading="lazy" src="/img/fbb/icon-7.gif"' in str(soup.find_all('img', src='/img/fbb/icon-7.gif')):
                    data['Bevaringsværdi'] = [7]
                elif 'img loading="lazy" src="/img/fbb/icon-8.gif"' in str(soup.find_all('img', src='/img/fbb/icon-8.gif')):
                    data['Bevaringsværdi'] = [8]
                elif 'img loading="lazy" src="/img/fbb/icon-9.gif"' in str(soup.find_all('img', src='/img/fbb/icon-9.gif')):
                    data['Bevaringsværdi'] = [9]
                elif 'img loading="lazy" src="/img/fbb/icon-x.gif"' in str(soup.find_all('img', src='/img/fbb/icon-x.gif')): 
                    data['Bevaringsværdi'] = [0]
                else:
                    data['Bevaringsværdi'] = 'Unknown'
            except:
                data['Bevaringsværdi'] = ['Missing']


            try:
                data['Største_parti'] = re.findall(r'valg/(.*?)(?<!\\).png',
                                                str(soup.find_all("div", {"id": 'valgdata'})[0].find_all('h2')[0]))
                data['Valgdeltagelse'] = \
                re.findall("\d+.\d+", str(soup.find_all("div", {"id": 'valgdata'})[0].find_all('p')[1]))[1]
                data['Afstemningsområde'] = [soup.find_all("div", {"id": 'valgdata'})[0].find_all("strong")[0].get_text()]
            except:
                data['Største_parti'] = ['Missing']
                data['Valgdeltagelse'] = ['Missing']
                data['Afstemningsområde'] = ['Missing']

            try:
                url_vurdering = url + '/vurdering'
                resp_vurdering = requests.get(url_vurdering)
                soup_vurdering = BeautifulSoup(resp_vurdering.text, 'html.parser')
                data['AVM_pris'] = soup_vurdering.find_all("div", {"id": 'avmnumber'})[0].get_text()  # made correction
            except:
                data['AVM_pris'] = ['Missing']
    except:
            data['address_id'] = df_input.loc[count, 'address_id']
            data['Radonrisiko'] = ['Missing']
            data['Støjmåling'] = ['Missing']
            data['Oversvømmelsesrisiko_skybrud'] = ['Missing']
            data['Meter_over_havet'] =['Missing']
            data['Indbrudsrisiko'] =['Missing']
            data['Bevaringsværdi'] = ['Missing']
            data['Største_parti'] =['Missing']
            data['Valgdeltagelse'] = ['Missing']
            data['Afstemningsområde']= ['Missing']
            data['AVM_pris'] = ['Missing']

        # Make dataframe
    df_page = pd.DataFrame(data)

    return df_page

In [444]:

def dingeo_merged(df_input):

     d1 = df_input
     d1 = d1.drop_duplicates(subset=['address_id']) #remove duplicates
     d1 = d1.reset_index() #We reset the index number, so we can use our functions

     d1_url = get_links_to_dingeo(d1) #We get the links
     d1_url = d1_url.loc[: ,['address_id', 'dingeo_link']]
     
     for i in tqdm(range(0, len(d1_url))):
                 
          a = dingeo_page(d1_url, i)
                    
          if i == 0 :
               new_df =  a

          else :
               new_df = pd.concat([new_df, a])
               
     
     merged = pd.merge(df_input, new_df, how='inner', on = 'address_id')

     return merged

* ## Code for HvorLangtErDer.dk

In [445]:
#### Scrape information for single address from hvorlangterder.dk

def get_hvorlangterder(address):
    try:
        url = 'https://hvorlangterder.poi.viamap.net/v1/nearestpoi/?poitypes=daycare,doctor,hospital,junction,metro,school,stop,strain,supermarket,train,library,pharmacy,coast,forest,lake,airport,sportshall,publicbath,soccerfield,roadtrain&fromaddress=' + address + '&mot=foot&token=eyJkcGZ4IjogImh2b3JsYW5ndGVyZGVyIiwgInByaXZzIjogInIxWjByMEYwazZCdFdxUWNPVXlrQi95NlNVcEp2MlFiZ3lYZXRxNEhZNFhPLzNZclcwK0s5dz09In0.fP4JWis69HmaSg5jVHiK8nemiCu6VaMULSGGJyK4D4PkWq4iA1+nSHWMaHxepKwJ83sEiy9nMNZhv7BcktRNrA'
        resp = requests.get(url)
        cont = resp.json()
        df = pd.DataFrame(cont).loc[['routedmeters']]
        df['Location'] = address
        
        return (df)
    except Exception:
            df = pd.DataFrame(columns=['school', 'roadtrain', 'junction', 'daycare', 'metro', 'doctor', 'soccerfield', 'hospital', 'stop', 'lake', 'supermarket', 'pharmacy', 'strain', 'airport', 'train', 'library', 'publicbath', 'coast', 'sportshall', 'forest', 'Location'], index=['routedmeters'])
            return (df)

In [446]:
	 #### Scrape data from hvorlangterder.dk for all adresses and merge with data from Boligsiden and DinGeo.dk
def add_hvorlangterder(df_input):

    new_df = pd.DataFrame()
    for i in tqdm(range(0, len(df_input))):
        
        address = str(df_input.loc[i, 'vejnavn']) + str(df_input.loc[i, 'husnr'])  + str(df_input.loc[i, 'kommune'])
        
        
        new_df = get_hvorlangterder(str(address))

           
        new_df["ID_Count"] = i
            
        if i == 0 :
            df_merged =  new_df
            
        else :
            df_merged = pd.concat([df_merged, new_df])
           
    merged = pd.merge(df_input, df_merged, how='inner', on = 'ID_Count')
    return merged

* ## Lets get our scrapped data!

* ### Scraping HvorLangtErDer.dk

In [339]:
# This line took about 7 to 8 hours to run. 

#hvorlangterder_data_1 = add_hvorlangterder(df_data)

In [340]:
#We save the new created file, with the data from hvorlangterder. 
#So we dont need to run it again. It is a heavy task. 

#hvorlangterder_data_1.to_excel("hvorlangterder_data_1.xlsx")

In [341]:
#we can here read our saved excel file
hvorlangterder_data_1 =read_saved_excel("hvorlangterder_data_1.xlsx")

We split our dataset, so if there are any mistakes, we can learn it "faster".

In [342]:
#We now split the data in 6 dataset, to minmize the risk of failure. The dingeo could fail, if it lose internet connection.. Yes, it did happen.. 

d=hvorlangterder_data_1
d1 = d.loc[0:7500,]
d2 = d.loc[7501:17009,]
d3 = d.loc[17010:25509,]
d4 = d.loc[25510:34009,]
d5 = d.loc[34010:43226,]
d6 = d.loc[43227:52443,]

In [343]:
#dingeo_d1 = dingeo_merged(d1)
# 
#  #6056/6056 [6:55:56<00:00,  4.12s/it] - Remember it removes duplicates in the for-loop.

In [344]:
#dingeo_d1.to_excel("dingeo_d1.xlsx")

In [345]:
#dingeo_d2 = dingeo_merged(d2) 
# 
# #7721/7721 [15:35:26<00:00,  7.27s/it] - Remember it removes duplicates in the for-loop.

In [346]:
#dingeo_d2.to_excel("dingeo_d2.xlsx")

In [347]:
#dingeo_d3 = dingeo_merged(d3) 
# 
# #6896/6896 [8:51:08<00:00,  4.62s/it] - Remember it removes duplicates in the for-loop.

In [348]:
#dingeo_d3.to_excel("dingeo_d3.xlsx")

In [349]:
#dingeo_d4 = dingeo_merged(d4) 
# 
# #6935/6935 [13:01:51<00:00,  6.76s/it] - Remember it removes duplicates in the for-loop.

In [350]:
#dingeo_d4.to_excel("dingeo_d4.xlsx")

In [351]:
#dingeo_d5 = dingeo_merged(d5) 
# 
# #7514/7514 [13:48:39<00:00,  6.62s/it]

In [352]:
#dingeo_d5.to_excel("dingeo_d5.xlsx")

In [353]:
#dingeo_d6 = dingeo_merged(d6) 
# 
# #7430/7430 [13:02:45<00:00,  6.32s/it]

In [354]:
#dingeo_d6.to_excel("dingeo_d6.xlsx")

* #### Get Missing rows

We now need to pd.concat the files, so we get one big raw dataset. 

Also we are aware of some rows are missing. I think that this has happened due connection error to the ethernet. But I have located these rows manually, and will also connect these. 

It happened because of the pass-function. But I found the problem.

In [355]:
List_index = pd.DataFrame([9026, 9901, 9970, 11465, 15456, 15457, 15862, 15863, 15864, 26610, 31165, 31167, 32749, 32750], columns = ['Missing Index'])
List_index

    Missing Index
0            9026
1            9901
2            9970
3           11465
4           15456
5           15457
6           15862
7           15863
8           15864
9           26610
10          31165
11          31167
12          32749
13          32750

In [447]:
#We make a function, where we give the hvorlangterder_data_1 as input and the index_list from above. 

#And then we get our missing rows.

def get_missing_rows(df_input, Index_list):
    
    df = df_input
    url_df = get_links_to_dingeo(df)
    
    for i in tqdm(range(0, len(Index_list))):
        a = pd.DataFrame([list(df.loc[Index_list.loc[i,'Missing Index']])], columns= list(df.columns) )
        b = dingeo_page(url_df, Index_list.loc[i,'Missing Index'])
        c = pd.merge(a, b, how = 'inner', on = 'address_id')
        
        if i == 0:
            new_df = c
        else:
            new_df = pd.concat([new_df, c])
    return new_df

In [357]:
#we get our 14 missing rows

missing_rows = get_missing_rows(hvorlangterder_data_1, List_index) # 14/14 [01:24<00:00,  6.01s/it]

C:\Users\Mtubo\AppData\Local\Temp\ipykernel_17752\3216548660.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dingeo_link'][i] = url
100%|██████████| 14/14 [01:21<00:00,  5.81s/it]

* ## Merge all data togehter

We will now merge(concat) all the data together as one file, like the one we where given. So we will order the data by our column "ID_Count".
So we have all our raw data as we got it, and with the extra variables.

In [358]:
dingeo_d1 = read_saved_excel('dingeo_d1.xlsx')
dingeo_d2 = read_saved_excel('dingeo_d2.xlsx')
dingeo_d3 = read_saved_excel('dingeo_d3.xlsx')
dingeo_d4 = read_saved_excel('dingeo_d4.xlsx')
dingeo_d5 = read_saved_excel('dingeo_d5.xlsx')
dingeo_d6 = read_saved_excel('dingeo_d6.xlsx')

In [359]:
#raw_data1 = pd.concat([dingeo_d1, dingeo_d2, dingeo_d3, dingeo_d4, dingeo_d5, dingeo_d6, missing_rows], axis=0) # concat along rows

In [360]:
#We sort our dataset 

#raw_data1.sort_values(by= ['ID_Count'], inplace=True) 

#We reset the index number, as we started with in the begining.

#raw_data1 = raw_data1.reset_index()

In [361]:
#We remove the index row, that was created when we reset the index, and also the dingeo_link_x and *y, which has no values

#raw_data1.drop('index', axis=1, inplace=True)
#raw_data1.drop('dingeo_link_x', axis=1, inplace=True)
#raw_data1.drop('dingeo_link_y', axis=1, inplace=True)

* ## Add extra data from Boligsiden.dk

In [15]:
extra_data = pd.read_excel("vurderinger.xlsx")

In [21]:
extra_data.drop(columns=['living_area','address_type','year_built','year_renovated', 'num_floors', 'num_rooms'], inplace=True)

In [28]:
raw_data11 = pd.merge(raw_data1, extra_data, how = 'left', on = ['address_id', 'gstkvhx_kommunekode_vejkode_husnr_x'])

In [31]:
raw_data11['latest_prop_valuation'].isna().sum()

5878

In [32]:
#And we save our raw dataframe as an excel.


#raw_data11.to_excel("raw_data1.xlsx")

* ## Add data from StatBank.dk

In [33]:
pd.set_option('display.max_columns',None)
#pd.reset_option('^display.', silent=True)

In [34]:
raw_data1 = read_saved_excel("raw_data1.xlsx")

We convert the column to pandas datetime and then make a new column with Year-Week

In [35]:
def dates(df_input):
    df = df_input

    year = pd.to_datetime(df['closed_or_sold_at']).dt.isocalendar().year
    month = pd.to_datetime(df['closed_or_sold_at']).dt.month
    week = pd.to_datetime(df['closed_or_sold_at']).dt.isocalendar().week
    quarter = pd.to_datetime(df['closed_or_sold_at']).dt.quarter
    df['Year_Week']= np.nan
    df['Year_Months']= np.nan
    df['Year_Quarter']= np.nan
    for i in tqdm(range(0, len(df))):
        
        if week[i] == 52 and month[i] == 1:            
            df['Year_Week'][i] = str(year[i] + 1)  + 'W01'  #We make Year-Week date for closed or sold date
            df['Year_Months'][i] = str(year[i] + 1) + 'M0' + str(month[i]) #We make Year-Week date for closed or sold date
            df['Year_Quarter'][i] = str(year[i] + 1) + 'Q' + str(1)
        elif week[i] <= 9:
            if month[i] <=9:
                df['Year_Week'][i] = str(year[i] )  + 'W0' + str(week[i])  #We make Year-Week date for closed or sold date
                df['Year_Months'][i] = str(year[i] ) + 'M0' + str(month[i]) #We make Year-Week date for closed or sold date
                df['Year_Quarter'][i] = str(year[i]) + 'Q' + str(quarter[i])
            else:
                df['Year_Week'][i] = str(year[i] )  + 'W0' + str(week[i])  #We make Year-Week date for closed or sold date
                df['Year_Months'][i] = str(year[i] ) + 'M' + str(month[i]) #We make Year-Week date for closed or sold date
                df['Year_Quarter'][i] = str(year[i]) + 'Q' + str(quarter[i])
        elif month[i] <=9:
                df['Year_Week'][i] = str(year[i] )  + 'W' + str(week[i])  #We make Year-Week date for closed or sold date
                df['Year_Months'][i] = str(year[i] ) + 'M0' + str(month[i]) #We make Year-Week date for closed or sold date
                df['Year_Quarter'][i] = str(year[i] ) + 'Q' + str(quarter[i])
        else:
            df['Year_Week'][i] = str(year[i]) + 'W' + str(week[i]) #We make Year-Week date for closed or sold date
            df['Year_Months'][i] = str(year[i]) + 'M' + str(month[i]) #We make Year-Week date for closed or sold date
            df['Year_Quarter'][i] = str(year[i]) + 'Q' + str(quarter[i])

    return df

In [36]:
raw_data = dates(raw_data1)

  0%|          | 0/52444 [00:00<?, ?it/s]C:\Users\Mtubo\AppData\Local\Temp\ipykernel_24612\3760785205.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year_Week'][i] = str(year[i] )  + 'W' + str(week[i])  #We make Year-Week date for closed or sold date
C:\Users\Mtubo\AppData\Local\Temp\ipykernel_24612\3760785205.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year_Months'][i] = str(year[i] ) + 'M0' + str(month[i]) #We make Year-Week date for closed or sold date
C:\Users\Mtubo\AppData\Local\Temp\ipykernel_24612\3760785205.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year_Quarter'][i] = str(year[i] ) + 'Q' + str(quarter[i])
100%|██████████| 52444/52444 [00:03<00:00, 15212.55it/s]

In [88]:
Obligationsrente = pd.read_excel("obligationsrente_fida_uge36-2022_REDIGERET.xlsx")
unemployed  = pd.read_excel("AUS08_redigeret.xlsx")
Population = pd.read_excel("FOLK1A_redigeret.xlsx")
OMXC25 = pd.read_excel("MPK13_redigeret.xlsx")
ConsumerPriceIndex = pd.read_excel("PRIS111_rediger.xlsx")
ForcedSales = pd.read_excel("TVANG1_redigeret.xlsx")
DNRNURI = pd.read_excel("DNRNURI_redigeret.xlsx")
ElPrice = pd.read_excel("elprisdata_oestDanmark_redigeret.xlsx")
BenzPrice = pd.read_excel("BenzinPrice_redigeret.xlsx")
DieselPrice = pd.read_excel("DieselPrice_redigeret.xlsx")
coordinates = pd.read_excel("koordinater_mathias.xlsx")

In [38]:
def insertdata(df_input, df_Obligationsrente, df_unemployed, df_population, df_OMXC25, df_ConsumerPriceIndex, df_ForcedSales, df_DNRNURI, df_ElPrice, df_BenzPrice, df_DieselPrice):
    
    a_df = pd.merge(df_input, df_Obligationsrente, how = 'left', on = 'Year_Week')

    b_df =  pd.merge(a_df, df_OMXC25, how = 'left', on = 'Year_Months')

    c_df =  pd.merge(b_df, df_ConsumerPriceIndex, how = 'left', on = 'Year_Months')

    d_df =  pd.merge(c_df, df_ForcedSales, how = 'left', on = 'Year_Months')

    e_df =  pd.merge(d_df, df_DNRNURI, how = 'left', on = 'Year_Months')

    f_df =  pd.merge(e_df, df_ElPrice, how = 'left', on = 'Year_Months')

    g_df =  pd.merge(f_df, df_BenzPrice, how = 'left', on = 'Year_Months')

    h_df =  pd.merge(g_df, df_DieselPrice, how = 'left', on = 'Year_Months')

    i_df = pd.merge(h_df, df_unemployed, how = 'left', on = 'Year_Months')

    df = pd.merge(i_df, df_population, how = 'left', on = 'Year_Quarter')
    
    

    df['unemployedRate']= np.nan
    df['Population']= np.nan
    for i in tqdm(range(0, len(df))):
        if df.loc[i, 'kommune'] == 'Frederiksberg':
            df.loc[i, 'unemployedRate'] = df.loc[i, 'unemploymentRate_Frederiksberg']
            df.loc[i, 'Population'] = df.loc[i, 'Frederiksberg_Population']
        else:
            df.loc[i, 'unemployedRate'] = df.loc[i, 'unemploymentRate_Copenhagen']
            df.loc[i, 'Population'] = df.loc[i, 'Copenhagen_Population']
    
    df.sort_values(by= ['ID_Count'], inplace=True) 

    

    #We frop Frederiksberg and copenhagen columns, so we only have the rates and number for the given "kommune" the adresse is in.
    
    df.drop(columns=['unemploymentRate_Frederiksberg', 'Frederiksberg_Population', 'unemploymentRate_Copenhagen', 'Copenhagen_Population'], inplace=True) 

    return df

In [39]:
raw_data2 = insertdata(raw_data, Obligationsrente, unemployed, Population, OMXC25, ConsumerPriceIndex, ForcedSales , DNRNURI, ElPrice, BenzPrice, DieselPrice)

100%|██████████| 52444/52444 [00:07<00:00, 6633.25it/s]

In [40]:
#We save the final raw data
#raw_data2.to_excel("raw_data2.xlsx")

In [41]:
#raw_data2 = read_saved_excel("raw_data2.xlsx")

* ## We just remove 'Missing', '-' and 'Mangler' from DinGeo data.

In [42]:
raw_data2.replace('Missing', np.nan, inplace=True)

In [43]:
raw_data2.replace('Mangler', np.nan, inplace=True)

In [44]:
raw_data2['AVM_pris'].replace(' - ', np.nan, inplace=True)

* ## Balcony and Terrace ( Altan og Terrasse )

In [45]:
Beskrivelser = pd.read_excel("Beskrivelser.xlsx")

In [46]:
Beskrivelser

#We can here see that we have 52445 rows, which is one more that the other dataset we were given.

,case_id,title,description
0,da3c0f7d-e863-4e30-95f7-201a96065ec7,NaN,\n\n\n\nLeder du efter god plads og højloftede...
1,9c5e7ed9-95f9-41c0-900f-b5e0d320e04d,NaN,NaN
2,d7e43f7e-edb6-46a6-a766-de1ddfa0e284,NaN,DEJLIG VILLALEJLIGHED MED PRIVAT LILLE HAVESTY...
3,90be8918-b3ba-40d1-8187-15f997c263e0,IDEEL ANPART - KAN IKKE BELÅNES! ENESTÅENDE H...,Området omkring Frederiksberg Allé er spækket ...
4,c2faf077-406a-4f1b-acd0-719c9e9946ab,4-VÆRELSES ALTANLEJLIGHED MIDT PÅ FREDERIKSBERG,"Stuklofter, sydvendt altan, fire skønne værels..."
...,...,...,...
52440,59ca6ff6-d547-4195-967b-3d6b1db8a38c,NaN,ALTAN-LEJLIGHED - som mezzanin-lejlighed (i 1....
52441,5f110503-f423-4510-9977-3ec14788495a,NaN,Attraktivt beliggende i det populære 'Jydekvar...
52442,59ca6ff6-d547-4195-967b-3d6b1db8a38c,NaN,ALTAN-LEJLIGHED - som mezzanin-lejlighed (i 1....
52443,5f110503-f423-4510-9977-3ec14788495a,NaN,Attraktivt beliggende i det populære 'Jydekvar...
52444,b6a9fc4f-ae4e-4a12-b4d2-b18cce548d8a,NaN,BOOK EN FREMVISNING NU HOS NYBOLIG MUNCH & BJE...

We need to get the adress_id variable, so we get this:

In [47]:
Beskrivelser = pd.merge(Beskrivelser, raw_data2[['case_id','address_id']].drop_duplicates(),  how= 'left', on='case_id' )

In [48]:
#We look for NaN in adress_id and we can see there is 1. (This must be the extra row we were given)
Beskrivelser.isna().sum()

case_id            0
title          25070
description     1365
address_id         1
dtype: int64

In [49]:
#We look at the row
Beskrivelser[Beskrivelser['address_id'].isna() == True ]

,case_id,title,description,address_id
43712,bff6c83b-9571-4c31-87d1-fa1b19198aea,Stilren lejlighed med altan tæt på metro,Velkommen til denne fantastisk velbeliggende 2...,NaN

In [50]:
#And we remove it from our dataset: Beskrivelser
Beskrivelser = Beskrivelser.drop(43712)

In [51]:
#And we can see it is gone. 
Beskrivelser[Beskrivelser['address_id'].isna() == True ]

Empty DataFrame
Columns: [case_id, title, description, address_id]
Index: []

In [52]:
Beskrivelser = Beskrivelser.reset_index()
Beskrivelser = Beskrivelser.drop(columns=['index'])

In [53]:
Beskrivelser

,case_id,title,description,address_id
0,da3c0f7d-e863-4e30-95f7-201a96065ec7,NaN,\n\n\n\nLeder du efter god plads og højloftede...,0a3f509d-26a5-32b8-e044-0003ba298018
1,9c5e7ed9-95f9-41c0-900f-b5e0d320e04d,NaN,NaN,0a3f509d-2680-32b8-e044-0003ba298018
2,d7e43f7e-edb6-46a6-a766-de1ddfa0e284,NaN,DEJLIG VILLALEJLIGHED MED PRIVAT LILLE HAVESTY...,0a3f50a2-a0c3-32b8-e044-0003ba298018
3,90be8918-b3ba-40d1-8187-15f997c263e0,IDEEL ANPART - KAN IKKE BELÅNES! ENESTÅENDE H...,Området omkring Frederiksberg Allé er spækket ...,0a3f50a2-a15d-32b8-e044-0003ba298018
4,c2faf077-406a-4f1b-acd0-719c9e9946ab,4-VÆRELSES ALTANLEJLIGHED MIDT PÅ FREDERIKSBERG,"Stuklofter, sydvendt altan, fire skønne værels...",0a3f50a2-a160-32b8-e044-0003ba298018
...,...,...,...,...
52439,59ca6ff6-d547-4195-967b-3d6b1db8a38c,NaN,ALTAN-LEJLIGHED - som mezzanin-lejlighed (i 1....,0a3f50a1-a398-32b8-e044-0003ba298018
52440,5f110503-f423-4510-9977-3ec14788495a,NaN,Attraktivt beliggende i det populære 'Jydekvar...,0a3f50a1-a398-32b8-e044-0003ba298018
52441,59ca6ff6-d547-4195-967b-3d6b1db8a38c,NaN,ALTAN-LEJLIGHED - som mezzanin-lejlighed (i 1....,0a3f50a1-a398-32b8-e044-0003ba298018
52442,5f110503-f423-4510-9977-3ec14788495a,NaN,Attraktivt beliggende i det populære 'Jydekvar...,0a3f50a1-a398-32b8-e044-0003ba298018
52443,b6a9fc4f-ae4e-4a12-b4d2-b18cce548d8a,NaN,BOOK EN FREMVISNING NU HOS NYBOLIG MUNCH & BJE...,0a3f50a0-e4de-32b8-e044-0003ba298018

## We insert Water_view as an column.

In [54]:
a = ['havudsigt', 'havkig', 'vandkig', 'udsigt over øresund', 'udsigt over vand', 'udsigt til vand', 'udkig til vand', 'vandudsigt']
pattern = '|'.join(a)
pattern

'havudsigt|havkig|vandkig|udsigt over øresund|udsigt over vand|udsigt til vand|udkig til vand|vandudsigt'

In [55]:
water_view_in_title = list(Beskrivelser.loc[Beskrivelser['title'].str.lower().str.contains(pattern) == True].index)

In [56]:
water_view_in_description = list(Beskrivelser.loc[Beskrivelser['description'].str.lower().str.contains(pattern) == True].index)

In [57]:
Beskrivelser['Water_view'] = 0 #We create our new column, and fill it with zeros.

In [58]:
Beskrivelser.loc[water_view_in_title ,'Water_view'] = 1

In [59]:
Beskrivelser.loc[water_view_in_description ,'Water_view'] = 1

In [60]:
Beskrivelser.loc[Beskrivelser['Water_view'] == 1] #And we can now see that we found 1092 case-id with a Water_view.

,case_id,title,description,address_id,Water_view
189,1986d031-5bcc-4486-ab74-8d9cf457407d,NaN,OMRÅDET:<BR />Velkommen til Amagers absolut be...,0a3f509d-2506-32b8-e044-0003ba298018,1
326,43ba3a32-fe53-4a1c-8b6a-f11b428ca450,LIEBHAVERI MED HAVUDSIGT OG PRIVAT P-PLADS,Velkommen til Amerika Have - et lejlighedskomp...,3e064cf7-dc70-4a3c-854b-09609db2c47f,1
441,bf27afe0-332e-48af-8b6c-4bc69103ddd5,Penthouse lejlighed med stor altan og vandudsigt,1 til 1-fremvisning med tilmeldingskrav 18/8 -...,8330ebb5-21cb-4ac7-9166-1434774db2b2,1
449,7ff8548a-2cf5-4d06-8ed4-a4174f522712,Penthouselejlighed med kæmpe altan vandudsigt ...,Her får du en ny bolig af den højeste standard...,9bc20a3f-67f4-495f-a325-d521f97af6ca,1
1036,7d92020c-ce15-4e8f-a30e-e66a60eeeb8f,NaN,LEJLIGHED: Hermed udbydes lejlighed til den kr...,0a3f50a1-3b52-32b8-e044-0003ba298018,1
...,...,...,...,...,...
52184,5290d366-4e23-4dfb-a9fd-7e07d05dcb8b,Flot udsigtslejlighed med altan på Sluseholmen,Flot udsigtslejlighed med altan på Sluseholmen...,1b974be1-7727-60d6-e044-0003ba298018,1
52192,1db71533-cf97-428b-8664-c19cb282a0f2,"Udsigt over vandet, grønne områder og egen p-p...",Lejligheden: Virkelig spændende og velindrette...,74325fe0-b1bd-4127-90b5-93dc740b2bcc,1
52307,468c1a29-c2ee-40af-acf0-7f1219f8dc43,NaN,"Med beliggenhed tæt på Amager Strandpark, metr...",4a78ea4c-0508-6ee8-e044-0003ba298018,1
52316,395c67e6-c152-4532-b0af-e700eee7e4aa,NaN,"Med beliggenhed tæt på Amager Strandpark, metr...",4a78ea4c-0509-6ee8-e044-0003ba298018,1
52317,7a4d8329-3813-4d70-91a4-6e3d009162db,NaN,Hermed udbydes liebhaver penthouselejlighed på...,4a78ea4c-050c-6ee8-e044-0003ba298018,1

In [61]:
def search(df_in, df_words):
    
    df_input = df_in
    #First we lower the description text, so it is easy for us to search,
    df_input['description_low'] = df_input['description'].str.lower()

    for i in tqdm(range(0, len(df_words))):
        #Now we find in the description, when 'altan'(balcony) is mentioned
        df_input[df_words.loc[i, 'Column_name']] = df_input['description_low'].str.contains(df_words.loc[i, 'Search_string'], regex=False)
        
        #We make both new columns to 1 and 0, so 1 for true and 0 for False and NaN. 
        df_input[df_words.loc[i, 'Column_name']] = df_input[df_words.loc[i, 'Column_name']].fillna(0)
        df_input[df_words.loc[i, 'Column_name']] = df_input[df_words.loc[i, 'Column_name']].astype(int)


    
    #We now remove 1 from Balcony, if it also has 1 at Opp_for_balcony. Because then 'altan'(balcony) was mentioned in 'mulighed for altan'(opportunity for balcony).
    for i in tqdm(range(0, len(df_input))):
        if df_input.loc[i,'Opp_for_balcony'] == 1:
            df_input.loc[i, 'Balcony'] = 0

    #We now remove 1 from Terrace, if it also has 1 at Rooftop Terrace or Opp_for_Rooftop_Terrace or Projekt_std_text(This string has at least 1 balcony).
    for i in tqdm(range(0, len(df_input))):
        if df_input.loc[i,'Rooftop Terrace'] == 1 or df_input.loc[i,'Opp_for_Rooftop_Terrace'] == 1 or df_input.loc[i,'Projekt_std_text'] == 1:
            df_input.loc[i, 'Terrace'] = 0     
        

    #We now remove 1 from House Animals, if it also has 1 at No_House Animals.
    for i in tqdm(range(0, len(df_input))):
        if df_input.loc[i,'No_House_Animals1'] == 1 or df_input.loc[i,'No_House_Animals2'] == 1 or df_input.loc[i,'No_House_Animals3'] == 1 or df_input.loc[i,'No_House_Animals4'] == 1 or df_input.loc[i,'No_House_Animals5'] == 1:
            df_input.loc[i, 'House Animals'] = 0     

    
    df_input = df_input.drop(columns= ['title', 'description', 'description_low', 'No_House_Animals1', 'No_House_Animals2', 'No_House_Animals3', 'No_House_Animals4', 'No_House_Animals5', 'Projekt_std_text'])
    
    

    return df_input

In [62]:
words = pd.DataFrame(data=[['Balcony', 'altan'], ['Opp_for_balcony', 'mulighed for altan'], ['Rooftop Terrace', 'tagterasse'],['Opp_for_Rooftop_Terrace', str.lower('SØGES OM TILLADELSE TIL AT LAVE TAGTERRASSE')],['Terrace', 'terrasse'], ['Projekt_std_text', 'og flere har endda både altan og privat tagterrasse'], ['House Animals', 'husdyr'], ['No_House_Animals1', 'husdyr ej'], ['No_House_Animals2', 'husdyr ikke'], ['No_House_Animals3', 'ikke husdyr'], ['No_House_Animals4', 'husdyrhold er ikke tilladt'], ['No_House_Animals5', 'husdyr er ikke tilladt']], columns=['Column_name', 'Search_string'])
words

                Column_name                                      Search_string
0                   Balcony                                              altan
1           Opp_for_balcony                                 mulighed for altan
2           Rooftop Terrace                                         tagterasse
3   Opp_for_Rooftop_Terrace        søges om tilladelse til at lave tagterrasse
4                   Terrace                                           terrasse
5          Projekt_std_text  og flere har endda både altan og privat tagter...
6             House Animals                                             husdyr
7         No_House_Animals1                                          husdyr ej
8         No_House_Animals2                                        husdyr ikke
9         No_House_Animals3                                        ikke husdyr
10        No_House_Animals4                         husdyrhold er ikke tilladt
11        No_House_Animals5                             husdyr er ikke tilladt

In [63]:
Search_Beskrivelser = search(Beskrivelser, words)
Search_Beskrivelser

100%|██████████| 12/12 [00:01<00:00, 11.70it/s]
100%|██████████| 52444/52444 [00:00<00:00, 121675.17it/s]
100%|██████████| 52444/52444 [00:01<00:00, 41017.28it/s]
100%|██████████| 52444/52444 [00:02<00:00, 25118.16it/s]

,case_id,address_id,Water_view,Balcony,Opp_for_balcony,Rooftop Terrace,Opp_for_Rooftop_Terrace,Terrace,House Animals
0,da3c0f7d-e863-4e30-95f7-201a96065ec7,0a3f509d-26a5-32b8-e044-0003ba298018,0,0,0,0,0,0,0
1,9c5e7ed9-95f9-41c0-900f-b5e0d320e04d,0a3f509d-2680-32b8-e044-0003ba298018,0,0,0,0,0,0,0
2,d7e43f7e-edb6-46a6-a766-de1ddfa0e284,0a3f50a2-a0c3-32b8-e044-0003ba298018,0,1,0,0,0,0,0
3,90be8918-b3ba-40d1-8187-15f997c263e0,0a3f50a2-a15d-32b8-e044-0003ba298018,0,0,0,0,0,0,0
4,c2faf077-406a-4f1b-acd0-719c9e9946ab,0a3f50a2-a160-32b8-e044-0003ba298018,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
52439,59ca6ff6-d547-4195-967b-3d6b1db8a38c,0a3f50a1-a398-32b8-e044-0003ba298018,0,1,0,0,0,0,0
52440,5f110503-f423-4510-9977-3ec14788495a,0a3f50a1-a398-32b8-e044-0003ba298018,0,1,0,0,0,0,0
52441,59ca6ff6-d547-4195-967b-3d6b1db8a38c,0a3f50a1-a398-32b8-e044-0003ba298018,0,1,0,0,0,0,0
52442,5f110503-f423-4510-9977-3ec14788495a,0a3f50a1-a398-32b8-e044-0003ba298018,0,1,0,0,0,0,0
52443,b6a9fc4f-ae4e-4a12-b4d2-b18cce548d8a,0a3f50a0-e4de-32b8-e044-0003ba298018,0,0,0,0,0,0,0

In [64]:
Search_Beskrivelser.sum()

case_id                    da3c0f7d-e863-4e30-95f7-201a96065ec79c5e7ed9-9...
address_id                 0a3f509d-26a5-32b8-e044-0003ba2980180a3f509d-2...
Water_view                                                              1092
Balcony                                                                25815
Opp_for_balcony                                                          101
Rooftop Terrace                                                           35
Opp_for_Rooftop_Terrace                                                    1
Terrace                                                                10891
House Animals                                                           1398
dtype: object

In [65]:
raw_data_final = pd.merge(raw_data2, Search_Beskrivelser.drop_duplicates(), how = 'inner', on = ['case_id', 'address_id'] )

We adjust our House Animal variable, becuase we do not think that it would be mentioned in the Sale description for a Villa and terraced house, full year plot.

In [66]:
animal_list = list(raw_data_final.loc[raw_data_final['House Animals']==0].loc[~raw_data_final['type'].isin(['condo', 'villa apartment'])].index)

In [67]:
raw_data_final.loc[animal_list,['House Animals']] = 1

In [68]:
raw_data_final

,case_id,type,energy_law_applies,energy_label_classification,presale,num_floors,num_rooms,living_area,basement_area,lot_area,year_built,sold_price,registered_price,address_id,rental,latest_status,weighted_area,closed_or_sold_at,original_price,unit_id,usage_code,living_area.1,business_area,num_rooms.1,updated_at,address_id.1,num_floors.1,year_built.1,year_renovated,ownership,building_id,num_toilets,toilet_condition_code,num_bathrooms,bathroom_condition_code,kitchen_condition_code,floor_id,status,property_number,building_id.1,building_number,entry_address_id,usage_code.1,year_built.2,year_renovated.1,outer_wall_code,roof_code,additional_outer_wall_mat,additional_roof_mat,asbestos_materials,total_area,living_area_total,business_area_total,other_area,heating_code,kitchen_amount,floors,updated_at.1,additional_heating_code,ownership.1,total_built_area,built_in_garage_area,built_in_carport_area,built_in_outhouse_area,conservatory_area,property_number.1,status.1,weighted_area.1,unit_usage_code_beskrivelse,address_id.2,is_apartment,unit_living_area,full_floor_living_area,roof_living_area,roof_other,basement_living_area,basement_other,garage_outhouse_built_in,garage_outhouse_free,carport,conservatory,annex,weighted_area.2,toilet_beskrivelse,køkken_beskrivelse,tag_beskrivelse,ydervægsmaterialebeskrivelse,heating_code.1,heating_code_additional,badeværelsebeskrivelse,postnradgadr,postnummernavn,kommunekode,kommune,vejnavn,husnr,dør,etage,gstkvhx_kommunekode_vejkode_husnr_x,ID_Count,school,roadtrain,junction,daycare,metro,doctor,soccerfield,hospital,stop,lake,supermarket,pharmacy,strain,airport,train,library,publicbath,coast,sportshall,forest,Location,dingeo_link,Radonrisiko,Støjmåling,Oversvømmelsesrisiko_skybrud,Meter_over_havet,Indbrudsrisiko,Bevaringsværdi,Største_parti,Valgdeltagelse,Afstemningsområde,AVM_pris,latest_prop_valuation,Year_Week,Year_Months,Year_Quarter,Kort rente,Lang rente,OMXC 25,Consumer price index,ForcedSalesOfPropertyInRegionHovedstaden,AnnualisedAgreedRate,ElPrice_incl_moms_4000kWh,BenzinPrice_incl_moms,DieselPrice_incl_moms,unemployedRate,Population,Water_view,Balcony,Opp_for_balcony,Rooftop Terrace,Opp_for_Rooftop_Terrace,Terrace,House Animals
0,19053496-b401-48cd-a1cd-4dbad107dee6,condo,0.0,NaN,False,NaN,2.0,76.0,NaN,NaN,1700.0,6450000,NaN,bbe10eeb-cddc-44d3-aebb-b0b11e31862b,False,sold,76.000000,2019-08-01 12:53:49.137000,NaN,3ca52175-6dbc-4c0a-ba66-0e4075b67add,140.0,76.0,NaN,2.0,2020-09-26 22:31:08.520000,bbe10eeb-cddc-44d3-aebb-b0b11e31862b,3.0,1700.0,NaN,private,156a3021-31be-4a7f-b9ee-2b2e1bd016e5,2.0,T,1.0,V,E,a7b96403-d996-44c3-b8b4-888f5297c799,primary,536572.0,156a3021-31be-4a7f-b9ee-2b2e1bd016e5,1,0a3f507b-01bf-32b8-e044-0003ba298018,140,1700.0,NaN,1,5,NaN,NaN,NaN,3558,3808.0,99.0,NaN,1,39.0,3.0,2019-01-25 07:19:26.310000,90.0,other,1186.0,NaN,NaN,NaN,NaN,536572.0,primary,76.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Tegl,Mursten,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,1401,København K,101,København,Strandgade,44B,tv,2.0,01016992_44D__2__tv,0,435.13,5739.46,5707.89,542.49,490.44,459.07,1975.85,3506.60,331.89,670.57,384.65,480.76,1957.41,7286.50,1957.41,481.06,2252.54,100.07,979.67,6590.06,Strandgade44BKøbenhavn,https://www.dingeo.dk/adresse/1401-København-K...,Meget lav,55-60 dB,kan være risiko,2.0 meter,lav,0.0,enhedslisten,87.3,3. Syd,5.224.446,1900000.0,2019W31,2019M08,2019Q3,-0.66980,1.12240,1124,103.5,22,1.606,221.548060,12.712222,11.012222,4.3,626350.0,0,0,0,0,0,0,0
1,5a7e3ae4-cd86-4c75-a7d3-dca07bd7f0f8,condo,0.0,c,False,NaN,2.0,50.0,NaN,NaN,1897.0,3165000,3165000.0,0a3f509e-0bb0-32b8-e044-0003ba298018,False,registered,50.000000,2022-03-20 17:47:48.000000,NaN,54e9b180-c28f-432d-bf72-1112ad2c2fe8,140.0,50.0,NaN,2.0,2018-12-29 21:09:02.493000,0a3f509e-0bb0-32b8-e044-0003ba298018,6.0,1897.0,NaN,private,568dd859-0675-48d0-bd30-3afa4ce370e4,1.0,T,1.0,V,E,c73717c4-027f-4f74-8c61-1939401cb963,primary,143392.0,568dd859-0675-48d0-bd30-3afa4ce370e4,1,0a3f507a-6c79-32b8-e044-0003ba298018,140,1897.0,NaN,1,4,NaN,NaN,NaN,1218,1194.0,NaN,NaN,1,23.0,6.0,2020-06-18 11:34:22.121000,90.0,other,203.0,NaN,NaN,NaN,NaN,143392.0,primary,50.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Betontagsten,Mursten,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,1669,København V,101,København,Flensborggade,5,tv,2.0,01011812___7__2__tv,1,339.63,5212.47,4205.87,154.63,260.75,287.41,1720.86,3255.07,167.69,1132.52,307.84,462.06,1029.03,9293.53,1479.80,408.19,986.77,1333.82,1349.50,6183.10,Flensborggade5København,https://www.dingeo.dk/adresse/1669-København-V...,Meget lav,55-60 dB,kan være risiko,4.1 meter,lav,0.0,enhedslisten,89.0,9. Vesterbro,2.704.684,1050000.0,2022W11,2022M03,2022Q1,-0.41284,2.22637,1765,109.2,7,2.103,352.265314,14.856667,13.323333,3.6,643613.0,0,0,0,0,0,0,0
2,ec9f932f-9a0a-4b76-a3b0-f4ff44ae2395,condo,1.0,d,False,1.0,2.0,57.0,NaN,NaN,1895.0,2425000,2425000.0,0a3f50a0-20f6-32b8-e044-0003ba298018,False,registered,57.000000,2019-09-12 15:19:27.797000,NaN,cb20b557-01ac-4302-91b5-675b88d086bc,140.0,57.0,NaN,2.0,2019-12-21 21:19:57.030000,0a3f50a0-20f6-32b8-e044-0003ba298018,5.0,1895.0,NaN,private,4a1a5aa3-725a-4756-a654-51c6569bc4a4,1.0,T,1.0,V,E,63a261bf-f9a3-4e15-86c9-655df7583de0,primary,436187.0,4a1a5aa3-725a-4756-a654-51c6569bc4a4,1,0a3f507a-da0f-32b8-e044-0003ba298018,140,1895.0,NaN,1,6,NaN,NaN,NaN,1005,1166.0,NaN,NaN,1,23.0,5.0,2019-11-05 08:34:11.016000,90.0,other,201.0,NaN,NaN,NaN,NaN,436187.0,primary,57.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Metal,Mursten,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,2200,København N,101,København,Peter Fabers Gade,41,NaN,0.0,01015492__41_st____,2,211.03,7637.66,2832.17,73.19,752.79,350.53,1223.66,1101.53,236.70,776.65,123.77,799.87,1652.49,10355.18,1652.49,845.20,1555.24,2454.01,972.91,6800.53,Peter Fabers Gade41København,https://www.dingeo.dk/adresse/2200-København-N...,Meget lav,55-60 dB,kan være risiko,12.7 meter,lav,4.0,enhedslisten,82.8,5. Nørrebro,3.377.111,1150000.0,2019W37,2019M09,2019Q3,-0.76870,0.96690,1134,103.1,33,1.576,217.736057,12.500000,10.943846,4.4,626350.0,0,0,0,0,0,0,0
3,cf3e8b5f-7f03-425a-9c77-058067b21407,condo,1.0,e,False,1.0,4.0,87.0,NaN,NaN,1958.0,1975000,1975000.0,0a3f50a1-efd2-32b8-e044-0003ba298018,False,registered,87.000000,2017-01-25 16:11:13.617000,NaN,66e5a6a3-7ef1-47ca-8b46-ea5ea9c7b125,140.0,87.0,NaN,4.0,2018-08-18 00:49:52.597000,0a3f50a1-efd2-32b8-e044-0003ba298018,3.0,1958.0,NaN,private,fb8c55bd-6d71-4cfb-a17f-47caa1afe628,1.0,T,1.0,V,E,927aea1c-bc17-4190-9f8d-fd3984ff0167,primary,676161.0,fb8c55bd-6d71-4cfb-a17f-47caa1afe628,1,0a3f507b-3576-32b8-e044-0003ba298018,140,1958.0,NaN,1,10,NaN,NaN,NaN,2935,2922.0,NaN,NaN,1,36.0,3.0,2017-10-02 14:04:45.422000,90.0,other,978.0,NaN,NaN,NaN,NaN,676161.0,primary,87.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Fibercement uden asbest,Mursten,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,2700,Brønshøj,101,København,Åfløjen,2,th,2.0,01018644___4__2__th,3,1020.08,510.81,747.69,585.56,4136.44,820.28,1682.82,2418.23,116.78,620.92,611.87,852.23,896.52,16703.30,7598.08,1204.82,1971.11,8791.08,1969.58,4130.40,Åfløjen2København,https://www.dingeo.dk/adresse/2700-Brønshøj/Åf...,Meget lav,60-65 dB,kan være risiko,15.5 meter,mellem,0.0,socialdemokratiet,83.5,7. Nordvest,2.844.247,1100000.0,2017W04,2017M01,2017Q1,-0.32799,2.38995,1016,100.3,35,1.944,244.790000,11.432857,10.042000,5.1,601448.0,0,1,0,0,0,0,0
4,d5ab1ece-2a9d-487f-bc2d-102ccb58a660,condo,0.0,a,True,1.0,3.0,111.0,NaN,NaN,2021.0,6995000,NaN,b05883ed-c038-49df-8ea2-01b4e5947c93,False,sold,NaN,2021-01-19 11:30:43.637000,NaN,5a4e038a-344a-4021-9328-d89b97ec4ac6,140.0,111.0,NaN,4.0,2021-09-26 23:10:50.787000,b05883ed-c038-49df-8ea2-01b4e5947c93,9.0,NaN,NaN,private,d68ce9a8-328c-4b53-ab6a-c1975853f09d,1.0,T,1.0,V,E,674e85e8-372a-4aec-874f-79ca3882bdd2,primary,19878.0,d68ce9a8-328c-4b53-ab6a-c1975853f09d,1,41e0a675-cdff-45de-b927-380652adea7b,140,NaN,NaN,1,1,8.0,NaN,NaN,29122,28587.0,545.0,NaN,1,264.0,9.0,2020-09-02 07:33:28.826000,NaN,company,3961.0,NaN,NaN,NaN,NaN,19878.0,construction,NaN,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Tagpap med lille hældning,Mursten,Fjernvarme/blokvarme,NaN,Badeværelse i enheden,2450,København SV,101,København,George Marshalls Vej,1,1,2.0,01012171___9__2___1,4,1306.21,4896.25,3537.49,412.17,1913.53,1306.17,2461.43,4494.31,576.99,1999.71,752.74,707.07,1066.81,8152.81,2159.27,1844.86,1694.06,128.53,1975.18,5621.77,George Marshalls Vej1København,https://www.dingeo.dk/adresse/2450-København-S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021W03,2021M01,2021Q1,-0.53140,0.84560,1677,103.4,16,1.395,206.804719,11.300000,9.927500,6.0,637936.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52439,5656cdba-b2a0-4988-a4c7-5db3d190154b,condo,0.0,a2010,False,1.0,5.0,123.0,NaN,NaN,1900.0,8650000,8650000.0,963d87f7-caee-4a7e-9f87-345bb6df2e98,False,registered,NaN,2021-03-02 00:00:01.000000,NaN,bb553f20-0217-491b-bcac-764be0bc1193,140.0,123.0,NaN,4.0,2021-03-09 20:23:15.360000,963d87f7-caee-4a7e-9f87-345bb6df2e98,5.0,1900.0,2018.0,private,dae6a89a-bd22-4719-b81e-3417abe48872,2.0,T,2.0,V,E,b8e2cada-0bdf-41bf-9c55-1266412212d5,primary,466299.0,dae6a89a-bd22-4719-b81e-3417abe48872,1,bf8c1791-4407-4a18-b1a0-f3e58bb237c9,140,1900.0,2018.0,1,6,NaN,NaN,NaN,2207,2467.0,NaN,84.0,1,24.0,5.0,2020-01-29 12:01:42.775000,90.0,other,447.0,NaN,NaN,NaN,NaN,466299.0,primary,NaN,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Metal,Mursten,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,2100,København Ø,101,København,Rosenvængets Allé,20A,tv,1.0,01015948_20A__1__tv,52439,357.82,8447.14,2634.44,44.68,452.68,261.57,1379.35,1398.20,340.26,368.21,308.56,399.20,1142.15,10535.84,1302.83,763.97,903.91,1221.54,1845.00,5556.90,Rosenvængets Allé20AKøbenhavn,https://www.dingeo.dk/adresse/2100-København-Ø...,Meget lav,Ingen trafikstøj,kan være risiko,5.5 meter,lav,0.0,radikale,89.5,1. Syd,9.363.118,3050000.0,2021W09,2021M03,2021Q1,-0.48270,0.85400,1607,104.2,14,1.463,217.125643,11.975714,10.640000,6.2,637936.0,0,1,0,0,0,0,0
52440,27cfea5e-8895-4cd8-bf96-3e0e064da7bd,condo,1.0,b,False,1.0,4.0,109.0,NaN,NaN,2006.0,6295000,6295000.0,1b974be1-731f-60d6-e044-0003ba298018,False,registered,109.000000,2021-11-21 10:06:22.940000,NaN,b5edcc5f-e0a1-4e97-a8b6-9ac9feaf005e,140.0,109.0,NaN,4.0,2020-09-26 22:41:52.543000,1b974be1-731f-60d6-e044-0003ba298018,6.0,2006.0,NaN,private,9e25a9b0-fcf4-4728-bed7-ec84ef37ceb3,1.0,T,1.0,V,E,28e180a4-a2e3-4ac8-a404-4b94ffb0fdd7,primary,368220.0,9e25a9b0-fcf4-4728-bed7-ec84ef37ceb3,1,0a3f507a-3bc4-32b8-e044-0003ba298018,140,2006.0,NaN,90,90,NaN,NaN,NaN,10504,10616.0,2992.0,NaN,1,95.0,6.0,2021-01-19 06:17:20.769000,90.0,other,1539.0,NaN,NaN,NaN,NaN,368220.0,primary,109.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Andet materiale,Andet materiale,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,2100,København Ø,101,København,Amerika Plads,24A,NaN,0.0,01010139_24C_st____,52440,992.96,8857.45,3531.71,683.92,1019.03,1120.88,1911.83,2756.74,149.85,733.40,222.37,1200.11,892.80,10448.29,1120.17,1643.61,1771.85,117.57,2242.54,5744.34,Amerika Plads24AKøbenhavn,https://www.dingeo.dk/adresse/2100-København-Ø...,Meget lav,Ingen trafikstøj,kan være risiko,3.0 meter,lav,0.0,NaN,NaN,NaN,NaN,2700000.0,2021W46,2021M11,2021Q4,-0.59300,1.76320,1971,106.8,15,1.659,252.143663,14.059231,12.671818,4.3,638790.0,0,0,0,0,0,1,0
52441,7a296e32-4f3f-42cc-95ad-138ea7dee5be,condo,1.0,a2020,False,1.0,3.0,98.0,NaN,NaN,2017.0,6500000,6500000.0,6422991a-d0d9-443c-8224-23773614a02c,False,registered,98.000000,2021-09-13 09:59:04.943000,NaN,733c275b-89ce-4fac-8ce7-962480b3e25f,140.0,98.0,NaN,3.0,2021-12-21 20:43:30.617000,6422991a-d0d9-443c-8224-23773614a02c,5.0,2017.0,NaN,private,cc03c9ef-1a54-42c7-ab9b-bbb90efa866f,1.0,T,1.0,V,E,b6412419-79ee-48ee-bc6d-29b6accfc5e0,primary,15873.0,cc03c9ef-1a54-42c7-ab9b-bbb90efa866f,1,a8b3f388-2f8a-4fea-add4-01b2e92348f0,140,2017.0,NaN,1,2,NaN,20.0,NaN,5570,5532.0,925.0,895.0,1,51.0,5.0,2021-04-21 06:16:50.294000,NaN,other,1244.0,NaN,NaN,NaN,NaN,15873.0,primary,98.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Tagpap med stor hældning,Mursten,Fjernvarme/blokvarme,NaN,Badeværelse i enheden,1799,København V,101,København,Constantin Hansens Gade,35,th,3.0,01011185__41__3__th,52441,460.56,5400.44,4393.94,263.38,823.50,137.97,1341.54,2886.55,360.40,1150.10,236.76,606.51,846.02,10161.01,1731.29,816.57,754.55,2238.32,1550.48,5922.99,Constantin Hansens Gade35København,https://www.dingeo.dk/adresse/1799-København-V...,Meget lav,Ingen trafikstøj,kan være risiko,12.5 meter,lav,0.0,enhedslisten,87.8,9. Vest,5.911.698,2150000.0,2021W37,2021M09,2021Q3,-0.56320,1.13810,1975,105.5,15,1.693,246.007475,13.223333,11.365000,4.7,638678.0,0,1,0,0,0,0,0
52442,feef6d32-6640-4a8d-bc51-bde1a1aacf2d,condo,1.0,b,False,1.0,4.0,120.0,NaN,NaN,2006.0,5000000,5000000.0,1b974be1-731f-60d6-e044-0003ba298018,False,registered,109.000000,2020-07-20 23:14:52.190000,NaN,b5edcc5f-e0a1-4e97-a8b6-9ac9feaf005e,140.0,109.0,NaN,4.0,2020-09-26 22:41:52.543000,1b974be1-731f-60d6-e044-0003ba298018,6.0,2006.0,NaN,private,9e25a9b0-fcf4-4728-bed7-ec84ef37ceb3,1.0,T,1.0,V,E,28e180a4-a2e3-4ac8-a404-4b94ffb0fdd7,primary,368220.0,9e25a9b0-fcf4-4728-bed7-ec84ef37ceb3,1,0a3f507a-3bc4-32b8-e044-0003ba298018,140,2006.0,NaN,90,90,NaN,NaN,NaN,10504,10616.0,2992.0,NaN,1,95.0,6.0,2021-01-19 06:17:20.769000,90.0,other,1539.0,NaN,NaN,NaN,NaN,368220.0,primary,109.0,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Andet materiale,Andet materiale,Fjernvarme/blokvarme,(UDFASES) Bygningen har ingen supplerende varme,Badeværelse i enheden,2100,København Ø,101,København,Amerika Plads,24A,NaN,0.0,01010139_24C_st____,52442,992.96,8857.45,3531.71,683.92,1019.03,1120.88,1911.83,2756.74,149.85,733.40,222.37,1200.11,892.80,10448.29,1120.17,1643.61,1771.85,117.57,2242.54,5744.34,Amerika Plads24AKøbenhavn,https://www.dingeo.dk/adresse/2100-København-Ø...,Meget lav,Ingen trafikstøj,kan være risiko,3.0 meter,lav,0.0,NaN,NaN,NaN,NaN,2700000.0,2020W30,2020M07,2020Q3,-0.40310,1.08050,1348,103.2,15,1.498,213.532674,11.677500,9.477500,6.5,633449.0,1,1,0,1,0,0,0
52443,7af5d683-b3b3-47ea-a46b-4e7eb06a8797,villa,1.0,d,False,3.0,4.0,124.0,36.0,560.0,1927.0,6300000,6300000.0,0a3f50a1-c478-32b8-e044-0003ba298018,False,registered,137.800003,2022-04-12 10:52:52.343183,NaN,804e377f-5a33-47e0-ab82-5d74a725c44c,120.0,124.0,NaN,4.0,2017-08-30 06:11:51.143000,0a3f50a1-c478-32b8-e044-0003ba298018,1.0,1927.0,NaN,NaN,81ac1687-64b4-451b-aabb-952fbb1ff2dc,1.0,T,1.0,V,E,cec0281b-c7de-43b2-b62d-01263fbd0edd,primary,650901.0,81ac1687-64b4-451b-aabb-952fbb1ff2dc,1,0a3f507b-2dc5-32b8-e044-0003ba298018,120,1927.0,NaN,90,5,NaN,NaN,NaN,77,124.0,NaN,NaN,1,1.0,1.0,2017-10-02 16:27:58.685000,2.0,private,77.0,NaN,NaN,NaN,NaN,650901.0,primary,138.0,Fritliggende enfamilieshus (parcelhus),0a3f50a1-c478-32b8-e044-0003ba298018,0.0,124.0,78.0,46.0,NaN,NaN,36.0,NaN,16.0,NaN,NaN,NaN,137.8,Vandskyllende toilet i enheden,Eget køkken med afløb,Tegl,Andet materiale,Fjernvarme/blokvarme,Ovne til fast eller flydende brændsel,Badeværelse i enheden,2300,København S,101,København,Volosvej,10,NaN,NaN,01018444__10_______,52443,288.26,2357.15,2932.18,124.06,1422.98,518.96,1438.95,991.47,295.93,1357.06,200.45,975.39,4983.76,3314.36,2916.10,720.69,1301.84,1669.81,918.94,4960.63,Volosvej10København,https://www.dingeo.dk/adresse/2300-København-S...,medium,Ingen trafikstøj,kan være risiko,4.0 meter,lav,6.0,socialdemokratiet,83.0,4. Syd,6.102.105,2900000.0,2022W15,2022M04,2022Q2,-0.26953,2.88431,1786,109.9,12,2.236,307.954371,16.137619,15.620000,3.4,644431.0,0,0,0,0,0,0,1

In [69]:
#We save the final raw data

#raw_data_final.to_excel("raw_data_final.xlsx")

## We add the Square meter price, and save our raw data file

In [87]:
raw_data_final = read_saved_excel("raw_data_final.xlsx")

In [71]:
# def Get_Prices(df_input):
#     #We make an empty column for the m2 prices
#     df_input['m2Price'] = np.nan
#     #And we make a for-loop to insert the m2 prices. But we search first for if there are registered a 'registered_price', because then we want to use this price.
#     #Because the sold_price is the selling price reported by the broker and registered_price is the registered price.
#     #Most often they are the same, but there can be deviations sometimes, the registered price is probably the most reliable
#     for i in tqdm(range(0, len(df_input))):

#         if df_input['living_area'].isna()[i] == False:
#             if df_input['registered_price'].isna()[i] == False:
#                 df_input.loc[i, 'm2Price'] = df_input.loc[i, 'registered_price'] / df_input.loc[i, 'living_area']
#             else:
#                 df_input.loc[i, 'm2Price'] = df_input.loc[i, 'sold_price'] / df_input.loc[i, 'living_area']

#         else:
#             if df_input['living_area.1'].isna()[i] == False:
#                 if df_input['registered_price'].isna()[i] == False:
#                     df_input.loc[i, 'm2Price'] = df_input.loc[i, 'registered_price'] / df_input.loc[i, 'living_area.1']
#                 else:
#                     df_input.loc[i, 'm2Price'] = df_input.loc[i, 'sold_price'] / df_input.loc[i, 'living_area.1']
#             else:
#                 df_input.loc[i, 'm2Price'] = np.nan

#     return df_input

# We add the coordinates to the dataset

In [89]:
raw_data_final_final = pd.merge(raw_data_final, coordinates.drop_duplicates('address_id'), how='left', on = 'address_id')

In [90]:
raw_data_final_final.to_excel('raw_data_final_final.xlsx')

* ## Check balcony if sold more than 1 time in the period
We check if some of the duplicates, have been sold without and with an balcony, then it should have come the latter.

In [74]:
def check_altan(df_input):
    dup2 = df_input.groupby(df_input.columns.tolist()[1], as_index=False, dropna=False).size() #We look for duplicates in column: 'address_id' and add a new column: size, which we can tell how many time it is mentioned.
    a = dup2[dup2['size']>1] #And we can now look for the columns who is duplicated 
    a = a.reset_index()
    a = a.drop(columns=['index'])
    a['sum'] = np.nan

    for i in tqdm(range(0,len(a))):
        
        b = df_input[df_input['address_id'].str.contains(a.loc[i, 'address_id'])]
        a.loc[i, 'sum'] = b['Balcony'].sum()
        if a.loc[i, 'sum'] == 0.0:
            a = a.drop([i])
        elif a.loc[i, 'sum'] == a.loc[i, 'size']:
            a = a.drop([i])

    return a

In [75]:
#check = check_altan(Search_Beskrivelser)

In [76]:
check

NameError: name 'check' is not defined

In [ ]:
check.to_excel("ListeMedAltanerDerErBygget.xlsx")

In [ ]:
Search_Beskrivelser[Search_Beskrivelser['address_id']=='029b1abb-ab74-4519-8669-7df3b83f0771']

,case_id,address_id,Water_view,Balcony,Opp_for_balcony,Rooftop Terrace,Opp_for_Rooftop_Terrace,Terrace,House Animals
50832,2362eaaa-8696-49ca-beae-c8f52996cd17,029b1abb-ab74-4519-8669-7df3b83f0771,0,0,0,0,0,0,0
50833,fc5b8e3f-6a60-47bd-a3a1-af8f13bb62e7,029b1abb-ab74-4519-8669-7df3b83f0771,0,1,0,0,0,0,0

In [ ]:
raw_data2[raw_data2['address_id']=='029b1abb-ab74-4519-8669-7df3b83f0771']

,case_id,type,energy_law_applies,energy_label_classification,presale,num_floors,num_rooms,living_area,basement_area,lot_area,year_built,sold_price,registered_price,address_id,rental,latest_status,weighted_area,closed_or_sold_at,original_price,unit_id,usage_code,living_area.1,business_area,num_rooms.1,updated_at,address_id.1,num_floors.1,year_built.1,year_renovated,ownership,building_id,num_toilets,toilet_condition_code,num_bathrooms,bathroom_condition_code,kitchen_condition_code,floor_id,status,property_number,building_id.1,building_number,entry_address_id,usage_code.1,year_built.2,year_renovated.1,outer_wall_code,roof_code,additional_outer_wall_mat,additional_roof_mat,asbestos_materials,total_area,living_area_total,business_area_total,other_area,heating_code,kitchen_amount,floors,updated_at.1,additional_heating_code,ownership.1,total_built_area,built_in_garage_area,built_in_carport_area,built_in_outhouse_area,conservatory_area,property_number.1,status.1,weighted_area.1,unit_usage_code_beskrivelse,address_id.2,is_apartment,unit_living_area,full_floor_living_area,roof_living_area,roof_other,basement_living_area,basement_other,garage_outhouse_built_in,garage_outhouse_free,carport,conservatory,annex,weighted_area.2,toilet_beskrivelse,køkken_beskrivelse,tag_beskrivelse,ydervægsmaterialebeskrivelse,heating_code.1,heating_code_additional,badeværelsebeskrivelse,postnradgadr,postnummernavn,kommunekode,kommune,vejnavn,husnr,dør,etage,gstkvhx_kommunekode_vejkode_husnr_x,ID_Count,school,roadtrain,junction,daycare,metro,doctor,soccerfield,hospital,stop,lake,supermarket,pharmacy,strain,airport,train,library,publicbath,coast,sportshall,forest,Location,dingeo_link,Radonrisiko,Støjmåling,Oversvømmelsesrisiko_skybrud,Meter_over_havet,Indbrudsrisiko,Bevaringsværdi,Største_parti,Valgdeltagelse,Afstemningsområde,AVM_pris,Year_Week,Year_Months,Year_Quarter,Kort rente,Lang rente,OMXC 25,Consumer price index,ForcedSalesOfPropertyInRegionHovedstaden,AnnualisedAgreedRate,ElPrice_incl_moms_4000kWh,BenzinPrice_incl_moms,DieselPrice_incl_moms,unemployedRate,Population
7923,2362eaaa-8696-49ca-beae-c8f52996cd17,condo,0.0,NaN,True,1.0,4.0,109.0,NaN,NaN,2017.0,4745000,NaN,029b1abb-ab74-4519-8669-7df3b83f0771,False,sold,NaN,2017-03-02 07:25:14.603000,NaN,d4fbe401-15c1-4f97-8797-032c0c81fc7f,140.0,109.0,NaN,2.0,2019-01-25 20:10:48.160000,029b1abb-ab74-4519-8669-7df3b83f0771,8.0,2017.0,NaN,private,70bd32eb-9dfe-4043-9b7e-02ce83178d53,1.0,T,1.0,V,E,886b3241-aa05-4cad-8a64-5edddaeb24ed,primary,140334.0,70bd32eb-9dfe-4043-9b7e-02ce83178d53,8,eee0d5b8-720c-4590-ad19-90b51ef4ab34,140,2017.0,NaN,1,1,NaN,NaN,NaN,21863,22814.0,144.0,233.0,1,192.0,8.0,2020-07-20 06:58:54.758000,NaN,trust,2765.0,NaN,NaN,NaN,NaN,140334.0,construction,NaN,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Tagpap med lille hældning,Mursten,Fjernvarme/blokvarme,NaN,Badeværelse i enheden,2450,København SV,101,København,Martin Luther Kings Vej,1,tv,2.0,01018843___5__2__tv,7923,1537.47,4775.0,3462.98,337.66,1884.12,1190.9,1827.56,4372.74,782.24,1980.24,518.17,1326.6,1652.75,8031.34,2778.8,1825.39,2313.69,98.34,2543.22,4987.9,Martin Luther Kings Vej1København,https://www.dingeo.dk/adresse/2450-København-S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017W09,2017M03,2017Q1,-0.44665,2.46498,1060,101.1,29,2.126,239.420729,11.806667,10.066,5.0,601448.0
7924,fc5b8e3f-6a60-47bd-a3a1-af8f13bb62e7,condo,0.0,a2015,True,1.0,3.0,109.0,NaN,NaN,2017.0,4745000,4745000.0,029b1abb-ab74-4519-8669-7df3b83f0771,False,registered,NaN,2017-01-19 10:10:04.600000,NaN,d4fbe401-15c1-4f97-8797-032c0c81fc7f,140.0,109.0,NaN,2.0,2019-01-25 20:10:48.160000,029b1abb-ab74-4519-8669-7df3b83f0771,8.0,2017.0,NaN,private,70bd32eb-9dfe-4043-9b7e-02ce83178d53,1.0,T,1.0,V,E,886b3241-aa05-4cad-8a64-5edddaeb24ed,primary,140334.0,70bd32eb-9dfe-4043-9b7e-02ce83178d53,8,eee0d5b8-720c-4590-ad19-90b51ef4ab34,140,2017.0,NaN,1,1,NaN,NaN,NaN,21863,22814.0,144.0,233.0,1,192.0,8.0,2020-07-20 06:58:54.758000,NaN,trust,2765.0,NaN,NaN,NaN,NaN,140334.0,construction,NaN,"Etagebolig-bygning, flerfamiliehus eller tofam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vandskyllende toilet i enheden,Eget køkken med afløb,Tagpap med lille hældning,Mursten,Fjernvarme/blokvarme,NaN,Badeværelse i enheden,2450,København SV,101,København,Martin Luther Kings Vej,1,tv,2.0,01018843___5__2__tv,7924,1537.47,4775.0,3462.98,337.66,1884.12,1190.9,1827.56,4372.74,782.24,1980.24,518.17,1326.6,1652.75,8031.34,2778.8,1825.39,2313.69,98.34,2543.22,4987.9,Martin Luther Kings Vej1København,https://www.dingeo.dk/adresse/2450-København-S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017W03,2017M01,2017Q1,-0.36740,2.47463,1016,100.3,35,1.944,244.790000,11.432857,10.042,5.1,601448.0

In [ ]:


dup2 = Search_Beskrivelser.groupby(Search_Beskrivelser.columns.tolist()[1], as_index=False, dropna=False).size() #We look for duplicates in column: 'address_id' and add a new column: size, which we can tell how many time it is mentioned.
a = dup2[dup2['size']>1] #And we can now look for the columns who is duplicated 
a

                                 address_id  size
3      00201f18-28dc-4305-a4e2-b6889a59816c     2
5      00250fd1-260d-4c6b-b44f-5aa0fe209e70     2
7      002859e3-2a2e-4ca3-a4b0-cd7e36d428e0     2
10     009a6932-7381-4504-be6a-3989c19039f7     3
12     00b98342-b1b3-41c1-9386-ee2b015ba33b     2
...                                     ...   ...
42516  ff27ceae-43c8-4c0b-a1a2-3c2a369cf77b     2
42527  ff7bf989-a121-415a-b456-77763dd481bf     2
42534  ffafb1d1-0be8-4f43-a29d-f1218af962be     2
42544  fff4c171-fed2-489d-a34b-5c4117e50564     2
42546  ffff72da-4ea5-48e2-9e20-416ef56a1ea5     2

[8764 rows x 2 columns]

In [ ]:
dup2 = raw_data2.groupby(raw_data2.columns.tolist()[13], as_index=False, dropna=False).size() #We look for duplicates in column: 'address_id' and add a new column: size, which we can tell how many time it is mentioned.
a = dup2[dup2['size']>1] #And we can now look for the columns who is duplicated 
a

                                 address_id  size
3      00201f18-28dc-4305-a4e2-b6889a59816c     2
5      00250fd1-260d-4c6b-b44f-5aa0fe209e70     2
7      002859e3-2a2e-4ca3-a4b0-cd7e36d428e0     2
10     009a6932-7381-4504-be6a-3989c19039f7     3
12     00b98342-b1b3-41c1-9386-ee2b015ba33b     2
...                                     ...   ...
42516  ff27ceae-43c8-4c0b-a1a2-3c2a369cf77b     2
42527  ff7bf989-a121-415a-b456-77763dd481bf     2
42534  ffafb1d1-0be8-4f43-a29d-f1218af962be     2
42544  fff4c171-fed2-489d-a34b-5c4117e50564     2
42546  ffff72da-4ea5-48e2-9e20-416ef56a1ea5     2

[8764 rows x 2 columns]